{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mx-auto text-center heading-container">
    <h1>Password Vault | Security is key!</h1>
</div>
<div class="container-fluid callout-container">

    <article class="container mt-3">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12">
                <section class="callout-text">
                    <h2>Securly store a unique password</h2>
                    <h2> for each of your accounts.</h2>
                    <p>It looks like you already made the right decission.</p>
                    <button style="background:#c3ec0e"  type="button" class="btn btn-success btn-lg"><a href="{% url 'view' %}">View Accounts</a></button>
                </section>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12">
                <section class="callout">
                    <h1>Securly store a unique password for each of your accounts.</h1>
                    <p>Create an account today to live a more secure tomorrow.</p>
                    <button style="background:#c3ec0e" type="button" class="btn btn-success btn-lg"><a href="{% url 'account_signup' %}">Sign Up</a></button>
                </section>
            </div>
        </div>
        {% endif %}
</div>
    <hr >
<div class="container-fluid blog-container ">
    <div class="row">
        <div>
            <h2 class="text-uppercase text-center">Blog:</h2>
        </div>
    </div>
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-12 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blog:post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    <hr>
<div class="container-fluid features-container container-wrapper--green">
    <section class="features">
        <div class="row">
            <div class=" my-5">
                <h2 class="text-uppercase text-center">Features:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-blog d-none d-sm-inline"></i> Blog </h3>
                    <p>Stay up to date on the latest trends in security with our built in blog. Monthly security blogposts will be created and posted for all the members providing insight and guidance on how to best protect yourself in the digital world. Comment and like the posts that resonate the most with you.  </p>
                    <p><a class="btn btn-sm btn-light" href="{% url 'blog:blog' %}">Check it out!</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-lock d-none d-sm-inline"></i> Password Manager </h3>
                    <p> Store all your passwords for each of your online accounts. You can creat several different accounts and save your username email and password. This imporves your secirity and reduces your risk of reusing the same password several times.</p>
                    <p><a class="btn btn-sm btn-light" href="{% url 'create' %}">Check it out!</a></p>
                </div>
            </div>
            <div class="col-12 d-md-none d-lg-block col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-envelope d-none d-sm-inline"></i> Contact </h3>
                    <p>Feel free to reach out to us with any issues you have and we will be sure to follow up. Also if you have any good blog ideas that you would like us to write about and post we are happy to hear you out.</p>
                    <p><a class="btn btn-sm btn-light" href="{% url 'contact:contact' %}">Check it out!</a></p>
                </div>
            </div>
        </div>
    </section>
</div>   
</article>
{% endblock %}