{% extends 'base.html' %}

{% block content %}
<div class="mx-auto my-4 text-center">
    <h1>Password Vault | Security is key!</h1>
</div>
<article class="container mt-3">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <section class="callout">
                <h1>Securly store a unique password for each of your accounts.</h1>
                <p>It looks like you already made the right decission.</p>
                <button type="button" class="btn btn-success btn-lg"><a href="{% url 'view' %}">View Accounts</a></button>
            </section>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <section class="callout">
                <h1>Securly store a unique password for each of your accounts.</h1>
                <p>Create an account today to live a more secure tomorrow.</p>
                <button type="button" class="btn btn-success btn-lg"><a href="{% url 'account_signup' %}">Sign Up</a></button>
            </section>
        </div>
    </div>
    {% endif %}

    <hr>
    <section class="features">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="text-uppercase">Features:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-blog d-none d-sm-inline"></i> Blog <span class="badge badge-success">New!</span></h3>
                    <p>Stay up to date on the latest trends in security with our built in blog. Monthly security blogposts will be created and posted for all the members providing insight and guidance on how to best protect yourself in the digital world. Comment and like the posts that resonate the most with you.  </p>
                    <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-lock d-none d-sm-inline"></i> Password Manager </h3>
                    <p> Store all your passwords for each of your online accounts. You can creat several different accounts and save your username email and password. This imporves your secirity and reduces your risk of reusing the same password several times.</p>
                    <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                </div>
            </div>
            <div class="col-12 d-md-none d-lg-block col-lg-4">
                <div class="feature">
                    <h3><i class="fas fa-envelope d-none d-sm-inline"></i> Contact </h3>
                    <p>Feel free to reach out to us with any issues you have and we will be sure to follow up. Also if you have any good blog ideas that you would like us to write about and post we are happy to hear you out.</p>
                    <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                </div>
            </div>
        </div>
    </section>
    <hr>
</article>
{% endblock %}