{% extends "base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
<div class="container text-start">
	<h2>{{acc.name}}</h2>
	<ul>
	<div class="mt-2">
		<label><strong>Website:</strong></label>
		<p>>>>{{acc.website}}</p>
	</div>
	<div class="mt-2">
		<label><strong>Email:</strong></label>
		<p>>>>{{acc.email}}</p>
	</div>
	<div class="mt-2">
		<label><strong>Username:</strong></label>
		<p>>>>{{acc.username}}</p>
		<button style="background:green; text-align:center;" onclick="CopyAccUser()"><i class="fas fa-copy"></i></button>
		<input style="text-align:center;" type="text" value="{{acc.username}}"id="accusername">
	</div>
		<div class="mt-2">
		<label><strong>Password:</strong></label>
		<p>>>>{{acc.password}}</p>
		<button style="background:green; text-align:center;" onclick="CopyAccPass()"><i class="fas fa-copy"></i></button>
     	<input style="text-align:center;" type="text" value="{{acc.password}}"id="accpassword">
	</div>
	</ul>
	<td>
		<a href="/delete/{{ acc.id }}">
			<button class="btn btn-danger">Delete</button>
		</a>
	</td>
	<td>
		<a href="/edit/{{ acc.id }}">
			<button class="btn btn-success">Edit</button>
		</a>
	</td>
</div>
{% block scripts %}
	<script>
		function CopyAccUser() {
		var accuser = document.getElementById('accusername')
		accuser.select();
		document.execCommand('copy')
		}
		function CopyAccPass() {
		var accpass = document.getElementById('accpassword')
		accpass.select();
		document.execCommand('copy')
		}
	</script>
{% endblock scripts %}
{% endblock %}

