{% extends "base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
	<h1>{{acc.name}}</h1>
	<ul>
		<label>Website:</label>
		<p>{{acc.website}}</p>
		<label>Email:</label>
		<p>{{acc.email}}</p>
		<label>Username:</label>
		<p>{{acc.username}}</p>
		<button style="background:green; text-align:center;" onclick="CopyAccUser()"><i class="fas fa-copy"></i></button>
		<input style="text-align:center;" type="text" value="{{acc.username}}"id="accusername">
		<label>Password:</label>
		<button style="background:green; text-align:center;" onclick="CopyAccPass()"><i class="fas fa-copy"></i></button>
     	<input style="text-align:center;" type="text" value="{{acc.password}}"id="accpassword">

	</ul>
	<td>
		<a href="/delete/{{ acc.id }}">
			<button>Delete</button>
		</a>
	</td>
	<td>
		<a href="/edit/{{ acc.id }}">
			<button>Edit</button>
		</a>
	</td>

{% block scripts %}
	<script>
		function CopyAccUser() {
		var accuser = document.getElementById('accusername')
		accuser.select();
		document.execCommand('copy')
		}
		function CopyAccPass() {
		var accpass = document.getElementById('accpassword')
		accpass.select();
		document.execCommand('copy')
		}
	</script>
{% endblock scripts %}
{% endblock %}

