{% extends "base.html" %}

{% block title %}
View
{% endblock %}
{% block content %}
<div class="mx-auto my-4 text-center">
    <h1>Welcome to Your Password account</h1>
</div>
<div class="container">
    <h3>List of stored password accounts.</h3>
    {% for pw in user.pwaccount.all %}
	    <p><a href="{% url 'index' pw.id %}">{{ pw.name }}</a></p>
    {% endfor %}
</div>
<div>
    <p>If you havent added an account yet click the link below</p>
    <button type="button" class="btn btn-success btn-lg"><a href="{% url 'create' %}">Add Account</a></button>
</div>
{% endblock %}

