{% extends "base.html" %}
<!-- This is the list of accounts you have stored -->
{% block title %}
    View
{% endblock %}
{% block content %}
<div class="mx-auto my-4 text-center">
    <h2>Welcome to Your Password account</h2>
</div>
<div class="container text-center">
    <h3>List of stored password accounts.</h3>
        {% for pw in user.pwaccount.all %}
            <p><a href="{% url 'index' pw.id %}">{{ pw.name }}</a></p>
        {% endfor %}
            <p>If you havent added an account yet click the link below</p>
            <a class="btn btn-success btn-lg" href="{% url 'create' %}" role="button">Add Accounts</a>
</div>
{% endblock %}