{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" container">
    <div class="text-center">
            <h4 style="background:rgb(249, 250, 249)" >403 Forbidden</h4>
            <h5 style="background:rgb(249, 250, 249)"  >Ooops, This page can't be accessed</h5>
            <div>
                <img src="https://res.cloudinary.com/djiqea4sz/image/upload/v1677547755/pv-compressed-img/66072_fvs9sf_orvezm.jpg" alt="person with stop sign" style="max-width:80%;">
            </div>
    </div>
</div>
{% endblock %}