{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Password manager account </h1>
    {{ passwords }}
    <table>
        {% for password in passwords %}
            <tr>
                <td>{{ password.name }}</td>
                <td>{{ password.password }}</td>
            </tr>
        {% empty %}
        <tr><td>You have not added a password yet!</td></tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock %}